* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('https://365psd.com/images/istock/previews/8787/87879565-game-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.gameContainer {
  text-align: center;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gameTitle {
  margin: 50px;
}

.gameScore {
  margin: 50px;
}

.buttons button {
  background-color: rgb(23, 223, 223);
  border-radius: 5px;
  padding: 5px;
  min-width: 160px;
  margin: 60px 20px;
  text-align: center;
}

.result {
  margin: 20px;
}

.active {
  background-color: green;
}
