* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gameContainer {
  background: linear-gradient(to right, blue, green);
  text-align: center;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gameContainer button {
  background-color: darkcyan;
  border-radius: 5px;
  padding: 5px;
  min-width: 120px;
  margin-top: 20px;
}

.result {
  margin: 20px;
}

.active {
  background-color: green;
}
